body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

h2 {
    font-family: Impact, sans-serif;
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

input {
    width: 100%;
    font-size: 1.5em;
}

div.wrapper-div {
    max-width: 31.25em;
    margin: auto;
    padding: 0.75em;
    background-color: #b5b5b5;
}

div.result-div {
    background-color: white;
    height: 50%;
    padding: 0.3em;
    font-family: Impact, sans-serif;
    font-size: 2.3em;
    overflow: auto;
}

div.output-items {
    overflow: auto;
}

p.app-info {
    text-align: center;
    font-style: italic;
    font-size: 0.7em;
}

a:link, a:visited {
    color: #0000cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.label-text {
    margin-top: 0.2em;
    margin-bottom: 0.3em;
}

.text-box-borders {
    border-color: #999999;
    border-style: solid;
    border-width: 2px; /* At this small size, using `em` seems silly */
}

.output-left {
    float: left;
    display: inline-block;
}

.output-right {
    float: right;
    display: inline-block;
}
